<% /*{
	"js": "ViewPicture.js",
	"css": "view-picture.scss",
	"class": "App.Component.Element.SMC.Main.ViewPicture"
}*/ %>
<div class="view-picture" >
	<% for (var i = 0; i < medias.length; i++) { %>
		<component name="picture" id=":media:picture" ></component>
	<% } %>
</div>