<html lang="fr" >
	<head>
		<title>Smeagol Media Center</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h3>Smeagol Media Center</h3>

		<script type="text/javascript" src="http://127.0.0.1:8383/static/gollumjs.js" ></script>
		<script type="text/javascript" src="http://127.0.0.1:8383/static/bower_components/rsvp.js/rsvp.js" ></script>
	</body>
</html>