<% /*{
	"js": "LayerManager.js",
	"css": "layer-manager.scss",
	"class": "App.Component.Element.SMC.Main.LayerManager"
}*/ %>
<div class="layer-manager" >
	<component id=":main:notification" ></component>
</div>